#issue-modal-wrapper {
    width: 1100px;
    height: 860px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    padding: 20px;

    border-radius: 10px;


    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* 요소의 중앙을 기준으로 이동 */
    z-index: 1011;


    display: flex;
    flex-direction: column;
    /*display: grid;*/

    /*grid-template-columns: 4fr 5fr;*/
}

.issue-modal-container {
    width: 100%;
    height: 100%;
    display: flex;

}

.issue-modal-close-box {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 1012;
    gap: 8px;
}

.close-btn {
    width: 26px;
    height: 26px;
    margin-right: 80px;
}
.more-btn{
    width: 26px;
    height: 26px;
}
.more-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.close-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.issue-modal-left-container {
    height: 100%;
    width: 50%;
    /*max-width: 470px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    box-sizing: border-box;
    padding: 28px;

}

.issue-modal-title {
    width: 100%;
    font-size: 24px;
    font-family: "Noto Sans KR Sans KR";
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.issue-modal-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.issue-modal-content-box-style {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.issue-modal-content-show-style {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 140%;

    box-sizing: border-box;
    padding: 4px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.issue-modal-content-show-style:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.08);
}

.issue-modal-team-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.issue-modal-team-participants-box {
    width: 100%;
    height: 40px;

}

.issue-modal-label-style {
    display: flex;
    gap: 10px;
    font-family: "Noto Sans KR Sans KR";
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}

.issue-modal-label-icon-style {
    display: inline-block;
    width: 26px;
    height: 26px;
}

.issue-modal-label-content-style {
    width: 300px;
    height: 100%;
}

.issue-modal-right-container {
    width: 50%;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
    position: relative;

    box-sizing: border-box;
    padding: 28px;

    overflow-y: auto;

    gap: 25px;
}

.issue-modal-right-edit-box {
    width: 100%;
    min-height: 130px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.issue-modal-right-edit {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.issue-modal-right-edit-title {
    font-size: 16px;
    font-family: "Noto Sans KR Sans KR";
    font-weight: 600;
}

.issue-modal-right-edit-btn-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.issue-editor-view {
    width: 100%;
    min-height: 130px;
}

.issue-editor-view-none {
    font-size: 26px;
    font-family: "Noto Sans KR Sans KR";
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
}

.issue-modal-right-comment-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
}

.issue-modal-right-comment-title {
    width: 100%;
    font-family: "Noto Sans KR Sans KR";
    font-size: 16px;
    font-weight: 600;

}

.issue-modal-right-comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.issue-modal-right-comment-editor {
    width: 100%;
    min-height: 85px;
}

.issue-modal-right-comment-btn-box {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.issue-modal-right-comment-item-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.issue-modal-right-comment-item {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.issue-modal-right-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}
.issue-modal-right-delete-btn-box{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}