#image-slide-wrapper{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-slide-view-port-container{
    display: flex;
    align-items: center;
    justify-content: center;
;
    width: 100%;
    margin-top: 95px;
}
.image-slide-view-port{
    width: 90%;
    height: 360px;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    position: relative;
    overflow: hidden;
}
.image-slide-hidden-view{
    position: absolute;
    height: 100%;
    display: flex;
    z-index: 1;
}
.image-slide-item{
    height: 100%;
    background-position: 50% 50%;
    background-size: 100% 100%;
}
.image-slide-detail-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.image-slide-detail{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.image-slide-detail-title{
    display: flex;
    align-items: center;

    font-family: "Noto Sans KR Sans KR";
    font-weight: 600;
    font-size: 16px;
}
.image-slide-detail-content{
    display: flex;
    align-items: center;

    font-family: "Noto Sans KR Sans KR";
    font-size: 16px;
}
.image-slide-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-slide-button{
    margin-top: 50px;
    display: flex;
}
.slide-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /*gap:10px;*/
}
.slide-list-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.slide-list-button{
    display: flex;
    justify-content: center;
    align-items: center;
 }
.slide-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.slide-list > div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.slide-list-disable{
    background-color: rgba(255,255,255,1);
}
.slide-list-active{
    background-color: blue;
}