.input-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input{
    border: none;
    background: none;
    outline: none;

    flex: 1;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
}

.input-label{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
}

.input-box-container{
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 19px;
    padding: 9px 0 7px 8px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.04);
}
.input-box-container-error{
    border: 1px solid red;
    width: 250px;
    height: 19px;
    padding: 9px 0 7px 8px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.04);
}

.input-box-message{
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    font-weight: 400;
    line-height: 140%;
}
