#team-project-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.team-project-top-container{
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.team-project-title-box{
    display: flex;
    justify-content: space-between;
}
.team-project-title{
    font-size: 23px;
    font-family: "Noto Sans KR Sans KR";
}