#team-project-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.team-project-top-container{
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.team-project-title-box{
    display: flex;
    justify-content: space-between;
}
.team-project-title{
    font-size: 23px;
    font-family: "Noto Sans KR Sans KR";
}
.team-project-bottom-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.team-project-bottom-table{
    width: inherit;
    margin-top: 10px;
}
.team-project-bottom-add-btn-box{
    width: 100%;
    display: flex;
    justify-content: right;

}
.team-project-data-null{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Noto Sans KR Sans KR";
    font-size: 26px;
    color: rgba(0,0,0,0.3);
    font-weight: 600;
}
.team-project-member-title-box{
    width: 100%;

}
.team-project-member-title{
    font-size: 23px;
    font-family: "Noto Sans KR Sans KR";
}
.team-project-member-box{
    width: 100%;
    box-sizing: border-box;
    padding: 16px;

    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;

}
.team-project-member{
    width: 100%;
    height: 72px;
    background-color: #f5f6f8;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 10px;

    display: flex;
    justify-content: space-between;
}
.team-project-member-comment-box{
    box-sizing: border-box;
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 3px;
}
.team-project-member-item-box{
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}
.team-project-member-item{
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
.team-project-member-item-box{
    display: flex;
    gap: 10px;
}
.team-project-member-items{
    display: flex;
    gap: 5px;
    max-width: 475px;

    background-size: 100% 100%;
    background-position: 50% 50%;
}
.team-project-member-more-btn{
    font-family: "Noto Sans KR Sans KR";
    color: rgba(0,0,0,0.4);
}
.team-project-member-more-btn:hover{
    color: rgba(0,0,0,1);
    text-decoration: underline;
    cursor: pointer;
}
