#home-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.home-top-container{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.top-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-top-dashboard-wrapper{
    width: 100%;
    height: 100%;
}
.home-top-dashboard-table{
    width: 100%;
    height: 100%;
}
.home-top-table-head{
    font-size: 14px;
    font-family: "Noto Sans KR Sans KR";
    font-weight: 600;
}
.home-top-table-body{
    font-size: 26px;
    font-family: "Noto Sans KR Sans KR";
    font-weight: 600;
}
.home-top-content-title{
    font-size: 26px;
    font-family: "Karla";
}
.home-bottom-container{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
