.common-table-header > div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.common-table-body-cell > div{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    font-family: "Noto Sans KR Sans KR"
}
.common-table-body-stat{
    color: rgba(255,255,255,1);
    border-radius: 8px;
    padding: 5px;
}