
.icon-button {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon-logo {
    width: 15px;
    height: 15px;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.icon {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: 100% 100%;
}
.emphasis{
    color: rgba(0,0,0,1);
    font-weight: 600;
}
.cursor-pointer{
    cursor: pointer;
}

.key-light-off-icon{
    background-image: url("asset/key_off.png");

}
.key-light-on-icon{
    background-image: url("asset/key_on.png");
}
.naver-icon{
    background-image: url("https://play-lh.googleusercontent.com/YW_Rd7EUbZZ6gyEblSbXHGSPOy54FzBgtFmWgCSYioTskmhP5n1-L-Ay7fCdE0RUvzI=w240-h480-rw");
}
.google-icon{
    background-image: url("https://cdn-icons-png.flaticon.com/128/300/300221.png");
}
.tool-logo{
    background-image: url("asset/main_logo.png");
}
.arrow-down-icon{
    background-image: url("asset/arrow_down.png");
}
.group-add-icon{
    background-image: url("asset/group_add_icon.png");
}
.add-icon{
    background-image: url("asset/add_icon.png");
}
.search-icon-btn{
    background-image: url("asset/search_icon.png");
}
.more-list-icon{
    background-image: url("asset/more_list_icon.png");
}
.personal-project-icon{
    background-image: url("asset/personal_project_icon.png");
}
.issue-icon{
    background-image: url("asset/issue_icon.png");
}
.complete-icon{
    background-image: url("asset/complete_icon.png");
}
.comment-icon{
    background-image: url("asset/comment_icon.png");
}
.connect-icon{
    background-image: url("asset/connect_icon.png");
}
.person-check-icon{
    background-image: url("asset/person_check.png");
}
.waiting-icon{
    background-image: url("asset/waiting_icon.png");
}
.in-progress-icon{
    background-image: url("asset/in_progress-icon.png");
}
.folder-open-icon{
    background-image: url("asset/folder_open.png");
}
.tool-tip-icon{
    background-image: url("asset/tool_tip_icon.png");
}
.description-icon{
    background-image: url("asset/description_icon.png");
}
.favorite-off{
    background-image: url("asset/favorite_off.png");
}
.favorite-on{
    background-image: url("asset/favorite_on.png");
}
.project-item-picture{
    background-image: url("https://cdn.monday.com/images/quick_search_recent_board.svg");
}
.creation-picture{
    background-image: url("asset/creation_picture.png");
}
.slide-left-button{
    background-image: url("asset/expand-left-light-icon.png");
}
.slide-right-button{
    background-image: url("asset/expand-right-light-icon.png");
}
.home-icon{
    background-image: url("asset/home_icon.png");
}
.people-icon{
    background-image: url("asset/participants_icon.png");
}
.kanban-item-add-icon{
    background-image: url("asset/kanban_item_add_icon.png");
}
.text-icon{
    background-image: url("asset/title_revision_icon.png");
}
.issue-modal-team-icon{
    background-image: url("asset/issue_modal-team_icon.png");
}
.issue-modal-participants-icon{
    background-image: url("asset/issue_modal_participants_icon.png");
}
.incharge-icon{
    background-image: url("asset/inCharge_icon.png");
}
.close-icon{
    background-image: url("asset/close_icon.png");
}

.divider{
    height: 0;
    border: 1px solid rgba(0,0,0,0.3);
    width: 100%;
}
.divider2{
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.3);
    width: 100%;
}
.personal-prj-item-favorite-icon{
    margin-right: 8px;
    width: 20px;
    height: 20px;
}
/* 모달이 켜졌을때 배경*/
.body-blackout-style {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    backdrop-filter: blur(5px); /* 블러 효과 */
    z-index: 1011; /* 모달보다 아래 */
}
/*.multiline-ellipsis {*/
/*    !*firefox등 브라우저에는 적용되지 않을 수 있음*!*/
/*    display: -webkit-box;*/
/*    align-items: center;*/
/*    -webkit-box-orient: vertical;*/
/*    -webkit-line-clamp: 2; !* 원하는 줄 수 설정 *!*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis; !* ... 표시 *!*/
/*}*/